//@theme "/usr/share/rofi/themes/fancy.rasi"
//@theme "/usr/share/rofi/themes/Monokai.rasi"
//@theme "/home/cai/.local/share/rofi/themes/rounded-orange-dark.rasi"
//@theme "/home/cai/.local/share/rofi/themes/squared-nord.rasi"
@theme "/home/cai/.local/share/rofi/themes/squared-nord.rasi"
